# Stamp script
build --workspace_status_command=tools/status.sh
run --workspace_status_command=tools/status.sh

# Just build tests when testing
test --build_tests_only

build --incompatible_strict_action_env=true

# Minimize what is downloaded
build:inmemory --experimental_inmemory_jdeps_files
build:inmemory --experimental_inmemory_dotd_files

# Minimize what is downloaded
build:toplevel --config=inmemory
build:toplevel --remote_download_outputs=toplevel

build:remote --config=toplevel
build:remote --remote_cache=grpc://buildcache.default.svc.cluster.local:9092 --experimental_remote_downloader=grpc://buildcache.default.svc.cluster.local:9092
query:remote --remote_cache=grpc://buildcache.default.svc.cluster.local:9092 --experimental_remote_downloader=grpc://buildcache.default.svc.cluster.local:9092
fetch:remote --remote_cache=grpc://buildcache.default.svc.cluster.local:9092 --experimental_remote_downloader=grpc://buildcache.default.svc.cluster.local:9092
build:remote --remote_timeout=3600
build:remote --bes_results_url=https://bz.build.resf.org/invocation/
build:remote --bes_backend=grpc://buildbuddy-grpc.default.svc.cluster.local:1985
run:remote --experimental_remote_download_outputs=all --noexperimental_inmemory_jdeps_files --noexperimental_inmemory_dotd_files

common:ci --config=remote

build --stamp=true
