# direnv
unset STABLE_LOCAL_ENVIRONMENT STABLE_OCI_REGISTRY STABLE_OCI_REGISTRY_REPO

export STABLE_STAGE="-dev"
export STABLE_LOCAL_ENVIRONMENT=1
export STABLE_OCI_REGISTRY="host.docker.internal.local:5000"
export STABLE_OCI_REGISTRY_REPO="dev"
export IBAZEL_USE_LEGACY_WATCHER=0
export STABLE_REGISTRY_SECRET="none"
export STABLE_OCI_REGISTRY_NO_NESTED_SUPPORT_IN_2022_SHAME_ON_YOU_AWS="true"
PATH_add hack
