prowjob_namespace: prow
pod_namespace: test-pods

deck:
  spyglass:
    lenses:
      - lens:
          name: metadata
          required_files:
            - started.json|finished.json
      - lens:
          config:
          name: buildlog
          required_files:
            - build-log.txt
      - lens:
          name: junit
          required_files:
            - bazel-testlogs/.*/test.xml
      - lens:
          name: podinfo
          required_files:
            - podinfo.json

plank:
  job_url_prefix_config:
    "*": https://prow.build.resf.org/view/
  report_templates:
    '*': >-
      [Full PR test history](https://prow.build.resf.org/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
      [Your PR dashboard](https://prow.build.resf.org/pr?query=is:pr+state:open+author:{{with
      index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  default_decoration_configs:
    "*":
      gcs_configuration:
        bucket: s3://resf-prod-prow-logs
        path_strategy: explicit
      s3_credentials_secret: s3-credentials
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20221028-a8625c1f93
        entrypoint: gcr.io/k8s-prow/entrypoint:v20221028-a8625c1f93
        initupload: gcr.io/k8s-prow/initupload:v20221028-a8625c1f93
        sidecar: gcr.io/k8s-prow/sidecar:v20221028-a8625c1f93

tide:
  queries:
    - labels:
        - lgtm
        - approved
      missingLabels:
        - needs-rebase
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - do-not-merge/invalid-owners-file
      repos:
        - rocky-linux/peridot
