<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />

    <title><%= title %></title>

    <% if(style) { %>
    <link rel="stylesheet" href="<%= style %>" />
    <% } %> <% if(typekit) { %>
    <link rel="stylesheet" href="<%= typekit %>" />
    <% } %>
    <link rel="icon" type="image/png" sizes="32x32" href="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAERklEQVRYhaVXzW4URxCe9RKMhFDVKZEfYDlZXOBFOBsZDskrJIcIXOUj+AUQNkhZKUhInCLhahIpygNYcMgjkFMWXwF714vqp3t67GXtXY802pnZmfq+qvq6qrppqgMTN5gofrmHifp2L3auodAmCO1CogMUHkHiiZ4oNEJ7RnsovImJ14odoT6YLbNptmYeaED6AjeQeEVfBjNC65hoF4UOMdEUE09BeAp6LXHGs+r3EBI/x8S3zKaDm02ze5oEdMGVsT5bhcQ7mHicQVB4DELHmGiCwieY4hQ60Wf6HyTSd/z9RGNM/ASEr6pNTNz3KFQkQEhBG3ACV4LlABO/d1AzFqB0AgZWwAOoug9iIHSk34JGRW0JDyIaGcOINJ5fZxcsb0Pij+aF0BG4h12Q+WdExID1+ihSp5q5nbGKHlAjILziYeEBJB6h5dHAp5XH5wGfIRLfmiNq0x3jgUZdNWFpQKGeRWGfrqJE2JN/gGlp8DMkNCUqXE0HCK2649RTr/suQHrioc5sLw3eSYlGE4WNBArtqPAhUT9WAN0CVXsR0cLg5qmDUNFA2Kkiof9ZNHSlrIcGbEk8N8UKu3LlEuBtccr5rwRp98fxfFeFqOBrYEVmKcHV4JOybH3VnCER6cjvHWp11fBvxnrVgrMIgRZcC46LVg3fQ6GnpX50SWQ9eLESuq8E9sIDrWKLe+7VzsDBwRv4a1sjO4RZJPwsaWhA6CDCP7looZkFjkIbUc6/wzfUwFtbWcOZkWjTcKAERgvkfzZ4oo0orX18+1CBV3DfScAMElWBGmlF0iYyvSy4NTGrcFu5fc8jkYlMtN1OvIUWpS7uudV2a93W2HLLnUciMCcXScG54O55GUC0tPdCA98i4aVeaHSeCC8EHs2lZ947qBP5czuTKiRUmGVeEBfhbhBolbogeOmmHoXfMPFPQaJvoKdIgNCL6DfP9OZ+MBrXw8ay4O00xBvzSKDQaxT68XQpnlwCfBjV8AvOJ9EzEr//otfXczNq02BFZQlwf/c4Gtm4Gse6JLI+hj/7XAhucF1bZFuzlwP39HkzgopEHQlsIxEjWaJ+TCc7/gF9Lo1lGfB2Ui4kOul4s+VC1Fash61Zm4xpFYTehTo1HQuDV3NEh0QlzAdhyzYqmYCp00Yk4ZuQ6AMKPSiT8uLg0xkkPkck/oPE133f0SHAxioq2g3vatsGtgR4AJcZIA+4/2OiO3mXBP88dgLgnsepoTFCvRga9bmFK66HUcOPoQve1o7cbm2+KK1aJ+FB7Qz+8asT0MPBtGwaqJGoiWHia5D4ZayST6grxmpFGTQN1Jcxj2P52fCpEzDK1mpZimUL+I1NahNH3jx4Z+O7CprFFEvL60UWbXlmHh/aLlqXd7u7ds/NoXPAjcD+o+aHf185kb8fq4Hvwbfne9pEtJOBtnLfqI6sqWlB8xlzrbRkX+a++QlN1cdXpMRfbeR2TJgAAAAASUVORK5CYII=" />
  </head>
  <body class="bg-gray-100 font-sans min-h-screen">
    <div id="root" class="bg-gray-100 flex h-full"></div>
    <% if(script) { %>
    <script src="<%= script %>"></script>
    <% } %>
    <script>
      window.state = {
        {{#each this}}
        '{{@key}}': '{{this}}',
        {{/each}}
      }
    </script>
  </body>
</html>
